{% extends "base.html" %}

{% block titulo %} Lista de Perfumes {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">Listar perfumes</div>
    <a
        name=""
        id=""
        class="btn btn-success"
        href="{% url 'crear_perfume' %}"
        role="button"
        >Agregar nuevo perfume</a
    >
    
    <div class="card-body">
        <h4 class="card-title">Perfumes</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >

           
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <td>Nombre</td>
                        <td>Imagen</td>
                        <td>Descripcion</td>
                        <td></td>
                    </tr>
                    
                </thead>
                <tbody>
                    {% for perfume in perfumes %}
                    <tr>
                        <td>{{ perfume.id}}</td>
                        <td>{{ perfume.marca}}</td>
                        <td>{{ perfume.nombre}}</td>
                        <td>{{ perfume.imagen}}</td>
                        <td>{{ perfume.descripcion}}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="{% url 'editar' %}" role="button">Editar</a>
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        







       
    </div>
    <div class="card-footer text-muted"></div>
</div>


{% endblock %}