{% extends "base.html" %}

{% block titulo %} Lista de cuidado facial {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">Listar tratamientos</div>
    <a
        name=""
        id=""
        class="btn btn-success"
        href="{% url 'crear_skinCare' %}"
        role="button"
        >Agregar nuevo tratamiento</a
    >
    
    <div class="card-body">
        <h4 class="card-title">tratamiento</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>1</td>
                        <td>arex</td>
                        <td>q10</td>
                        <td>imagen.jpg</td>
                        <td>crema de dia</td>
                        <td>Editar / Borrar </td>

                    </tr>
                    
                </tbody>
            </table>
        </div>
        







       
    </div>
    <div class="card-footer text-muted"></div>
</div>


{% endblock %}